.random-quotes {
    text-align: center;
    padding: 55px 0;
    h3 {
        font-family: $font-palatino;
        font-size: 34px;
        line-height: 37px;
    }
    p{
        font-family: Lato, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        padding: 15px;
    }
    a{
        background: url(../img/sprite.png) no-repeat -62px -2px;
        display: inline-block;
        height: 35px;
        width: 35px;
        overflow: hidden;
        text-indent: -9999px;
        margin: 10px 5px;
        &.open-link{
            background-position: -115px 0;
        }
    }
}
.random-post{
    text-align: center;
    h3{
        color: #000000;
        font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
        font-size: 24px;
        line-height: 31px;
        padding: 30px 0 15px;
        a{
            text-decoration: none;
        }
    }
    p{
        font-family: lato, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        a{
            background-color: #7F7F7F;
            color: #fff;
            font-size: 18px;
            display: inline-block;
            padding: 3px 25px;
            border-radius: 10px;
            margin: 30px;
            text-decoration: none;
        }
    }
}

.single-quotes .random-post{
    border: 1px solid #ff0000;
    padding: 0 30px;
}

.blog-list{
    .post:nth-child(2n+1) {
        clear: left;
    }
}