/* sidebar */
.sidebar {
    width: 250px;
    background-color: #202020;
    color: #fff;
    font-size: 16px;
    position: fixed;
    top: 0;
    z-index: 1120;
    display: none;
    .close-sidebar{
        background: url(../img/sprite.png) no-repeat -38px -48px;
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
    }
    &.sidebar-left{
        margin-left: -125px;
        padding-top: 72px;
        .left-menu-inner{
            background-color: #DCDCDC;
            border-radius: 60px;
            left: 20px;
            display: block;
            width: 59px;
            height: 59px;
            position: absolute;
            top: 15px;
        }
        .close-sidebar{
            right: 18px;
            top: 18px;
        }
    }
    &.sidebar-right{
        margin-left: 900px;
        padding-top: 50px;
        .close-sidebar{
            left: 18px;
            top: 18px;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    .site-brief{
        font-size: 14px;
        font-family: Lato, sans-serif;
        color: #B9B8B8;
        font-weight: 300;
        padding: 20px;
        line-height: 22px;
        margin-bottom: 8px;
    }
    .copyright{
        font: 14px/20px Lato, sans-serif;
        color: #B9B8B8;
        padding: 50px 20px;
    }
}
.sidebar-widget {
    h2{
        font-size: 18px;
        font-family: $font-palatino;
        color: #B9B8B8;
        padding: 20px;
    }
    .my_widget_recent_entries{
        h2{
            display: none;
        }
        li{
            border-bottom: 1px solid #646464;
            padding: 10px 15px 10px 20px;
            line-height: 20px;
            &:first-child{
                border-top: 1px solid #646464;
            }
        }
    }
    .widget_categories{
        li{
            padding: 12px 20px;
            border-bottom: 1px solid #646464;
            &:first-child{
                border-top: 1px solid #646464;
            }
            a{
                color: #7F7F7F;
                &:hover{
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
    .widget_search{
        h2{
            font-size: 30px;
        }
        .search {
            position: relative;
            input[type="search"] {
                width: 207px;
                margin-left: 22px;
                padding: 0 33px 0 10px;
            }
            button{
                position: absolute;
                right: 34px;
                text-indent: -9999px;
                overflow: hidden;
                top: 8px;
                display: block;
                width: 22px;
                height: 22px;
                background: url(../img/sprite.png) no-repeat 1px -48px #fff;
                border: none;
            }
        }
    }
    .widget_tag_cloud{
        .tagcloud{
            padding: 0 20px;
        }
    }
}