html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'PalatinoLinotype-Regular';
  src: url("../fonts/PalatinoLinotype-Regular.eot");
  src: url("../fonts/PalatinoLinotype-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PalatinoLinotype-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PalatinoLinotype-Roman';
  src: url("../fonts/PalatinoLinotype-Roman.woff") format("woff"), url("../fonts/PalatinoLinotype-Roman.ttf") format("truetype"), url("../fonts/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #111;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* wrapper */
.wrapper {
  padding-top: 60px;
  background-color: #fff;
}

/* header */
.navbar-main {
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.navbar-main .container {
  position: relative;
}

.navbar-copy {
  text-align: center;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 300;
  color: #7f7f7f;
  display: none;
}

.left-menu-contain, .right-menu-contain {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0 8px;
}

.left-menu-contain {
  border-right: 1px solid #dcdcdc;
}

.left-menu {
  display: inline-block;
  width: 39px;
  height: 39px;
  background-color: #7f7f7f;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.right-menu {
  display: inline-block;
  width: 39px;
  height: 39px;
  background: url(../img/sprite.png) -3px 1px #fff;
}

/* logo */
/* nav */
.nav {
  float: none;
  text-align: center;
}

.nav li {
  float: none;
  display: inline-block;
}

.main > .container {
  position: relative;
}

input, section {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  background: #fff;
  height: 37px;
  line-height: 37px;
  padding: 0 10px;
  color: #333;
}

/* sidebar */
.sidebar {
  width: 260px;
  background-color: #202020;
  color: #fff;
  font-size: 16px;
  position: fixed;
  top: 0;
  z-index: -1;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.sidebar .close-sidebar {
  background: url(../img/sprite.png) no-repeat -38px -48px;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
}
.sidebar.sidebar-left {
  left: 0;
  padding-top: 72px;
}
.sidebar.sidebar-left .left-menu-inner {
  background-color: #DCDCDC;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  left: 20px;
  display: block;
  width: 59px;
  height: 59px;
  position: absolute;
  top: 15px;
}
.sidebar.sidebar-left .close-sidebar {
  right: 18px;
  top: 18px;
}
.sidebar.sidebar-right {
  right: 0;
  padding-top: 50px;
}
.sidebar.sidebar-right .close-sidebar {
  left: 18px;
  top: 18px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.sidebar .copyright {
  font: 14px/20px Lato, sans-serif;
  color: #B9B8B8;
  padding: 50px 20px;
}

.sidebar-widget > div {
  margin-top: 25px;
}
.sidebar-widget h2 {
  font-size: 18px;
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  color: #B9B8B8;
  padding: 20px;
}
.sidebar-widget .widget_text .textwidget {
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: #B9B8B8;
  font-weight: 300;
  padding: 0 20px;
  line-height: 22px;
  margin-bottom: 8px;
}
.sidebar-widget .my_widget_recent_entries li, .sidebar-widget .widget_nav_menu li {
  border-bottom: 1px solid #646464;
  padding: 10px 15px 10px 20px;
  line-height: 20px;
}
.sidebar-widget .my_widget_recent_entries li:first-child, .sidebar-widget .widget_nav_menu li:first-child {
  border-top: 1px solid #646464;
}
.sidebar-widget .my_widget_recent_entries li a:hover, .sidebar-widget .widget_nav_menu li a:hover {
  text-decoration: underline;
}
.sidebar-widget .widget_categories li {
  padding: 12px 20px;
  border-bottom: 1px solid #646464;
}
.sidebar-widget .widget_categories li:first-child {
  border-top: 1px solid #646464;
}
.sidebar-widget .widget_categories li a {
  color: #7F7F7F;
}
.sidebar-widget .widget_categories li a:hover {
  color: #fff;
}
.sidebar-widget .widget_search h2 {
  font-size: 30px;
}
.sidebar-widget .widget_search .search {
  position: relative;
}
.sidebar-widget .widget_search .search input[type="search"] {
  width: 200px;
  margin-left: 22px;
  padding: 0 33px 0 10px;
}
.sidebar-widget .widget_search .search button {
  position: absolute;
  right: 30px;
  text-indent: -9999px;
  overflow: hidden;
  top: 8px;
  display: block;
  width: 22px;
  height: 22px;
  background: url(../img/sprite.png) no-repeat 1px -48px #fff;
  border: none;
}
.sidebar-widget .widget_tag_cloud .tagcloud {
  padding: 0 20px;
}
.sidebar-widget .widget_tag_cloud .tagcloud a:hover {
  text-decoration: underline;
}

.random-quotes {
  text-align: center;
  padding: 55px 0 40px;
}
.random-quotes h3 {
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 34px;
  line-height: 37px;
}
.random-quotes p {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 15px;
}
.random-quotes .button {
  background: url(../img/sprite.png) no-repeat -62px -2px;
  display: inline-block;
  height: 35px;
  width: 35px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 10px 5px;
}
.random-quotes .button.open-link {
  background-position: -115px 0;
}

.random-post {
  text-align: center;
}
.random-post h3 {
  color: #000000;
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 24px;
  line-height: 31px;
  padding: 30px 0 15px;
}
.random-post h3 a {
  text-decoration: none;
}
.random-post p {
  font-family: lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.random-post .view-article {
  font-family: lato, sans-serif;
  background-color: #7F7F7F;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 3px 25px;
  letter-spacing: 1px;
  margin: 30px;
  text-decoration: none;
  line-height: 22px;
  font-weight: 300;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.random-post .view-article:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.single-quotes .random-post {
  border: 1px solid #ff0000;
  padding: 0 30px;
}

.list-title {
  border-top: 1px solid #DCDCDC;
  line-height: 26px;
  text-align: center;
  font-size: 20px;
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
}
.list-title h2 {
  padding: 10px 0 70px;
}

.blog-list article:nth-child(2n+1) {
  clear: left;
}
.blog-list article h3 {
  font-size: 20px;
  line-height: 22px;
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  margin: 15px 0 8px;
}
.blog-list article h3 a {
  text-decoration: none;
}
.blog-list article p {
  font-size: 16px;
  line-height: 22px;
  font-family: lato, sans-serif;
  font-weight: 300;
}
.blog-list article .view-article {
  font-size: 16px;
  line-height: 22px;
  font-family: lato, sans-serif;
  font-weight: 300;
  margin: 10px 0 30px;
  display: inline-block;
}

.pagination {
  text-align: center;
  display: block;
}
.pagination > * {
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: lato,sans-serif;
}

.col-3, .col-6 {
  width: 100%;
  float: left;
  padding-left: 13px;
  padding-right: 12px;
}

.single-page {
  padding: 60px 0 10px;
}
.single-page.page {
  padding-top: 30px;
}

.information {
  text-align: center;
}
.information img {
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
}
.information h1 {
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 34px;
  line-height: 37px;
  text-align: center;
  margin: 30px 0 15px;
}
.information .meta-info {
  font-size: 14px;
  line-height: 19px;
  font-family: lato, sans-serif;
  font-weight: 300;
}
.information .meta-info li {
  display: inline-block;
  margin: 0 8px;
}
.information .meta-info li i {
  margin-right: 5px;
}
.information .intro {
  font-size: 22px;
  line-height: 30px;
  font-family: lato, sans-serif;
  font-weight: 300;
  padding: 15px 0;
}
.information.bottom .meta-info {
  margin: 70px 0 10px;
  border-top: 1px solid #DCDCDC;
  padding-top: 10px;
}
.information ~ .body-content {
  border-top: 1px solid #DCDCDC;
  margin-top: 40px;
  padding-top: 30px;
}

.body-content {
  font-family: lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.body-content > * {
  margin-bottom: 15px;
}
.body-content h1, .body-content h2, .body-content h3, .body-content h4, .body-content h5 {
  margin-top: 10px;
}
.body-content h1 {
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 34px;
  line-height: 37px;
  margin-bottom: 25px;
}
.body-content h2 {
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 28px;
  line-height: 31px;
  margin-bottom: 20px;
}
.body-content h3 {
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 15px;
}
.body-content h4 {
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}
.body-content h5 {
  font-family: "PalatinoLinotype-Roman", "PalatinoLinotype-Regular", Georgia, serif;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}
.body-content p {
  margin-bottom: 15px;
}
.body-content p:empty {
  display: none;
}
.body-content figure {
  margin-top: 8px;
}
.body-content figure figcaption {
  font-family: lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  padding: 5px 0 10px;
}
.body-content .button {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
  line-height: 22px;
  font-size: 18px;
  font-family: lato, sans-serif;
  font-weight: 300;
  background-color: #7F7F7F;
  padding: 8px 12px;
  display: inline-block;
  margin: 10px 0 20px;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.body-content .button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.body-content .link {
  display: inline-block;
  margin-top: 15px;
}
.body-content .link:hover {
  text-decoration: underline;
}
.body-content .link i {
  margin-right: 5px;
  color: #000;
}
.body-content blockquote {
  font-size: 20px;
  line-height: 27px;
  font-style: italic;
  background-color: #F7F7F7;
  color: #261700;
  padding: 10px 20px;
  margin: 20px 0 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.body-content a {
  font-family: lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #7F7F7F;
}
.body-content a:hover {
  color: #B9B8B8;
}
.body-content ul {
  list-style: disc;
  padding-left: 20px;
}
.body-content ol {
  list-style: decimal;
  padding-left: 20px;
}

.page-not-found {
  min-height: 600px;
}

.featured-image {
  text-align: center;
}
.featured-image img {
  width: 100%;
  height: auto;
}

/* footer */
.footer {
  padding-bottom: 50px;
}

.back-to-top {
  display: block;
  width: 42px;
  height: 42px;
  background: url(../img/sprite.png) -168px 0 #fff;
  margin: 50px auto 0;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .col-3 {
    width: 33.3%;
  }

  .col-6 {
    width: 66.6%;
  }

  .navbar-copy {
    display: block;
  }

  .left-menu-contain, .right-menu-contain {
    float: none;
    width: auto;
    text-align: center;
    padding: 0;
  }

  .left-menu-contain {
    border-right: none;
  }

  .left-menu {
    display: block;
    background-color: #7f7f7f;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    position: absolute;
    top: 10px;
    left: 12px;
  }

  .right-menu {
    display: block;
    background: url(../img/sprite.png) -3px 1px #fff;
    position: absolute;
    top: 10px;
    right: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 1025px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
